packages/database/prisma/contract.json linguist-generated
packages/database/prisma/contract.d.ts linguist-generated
packages/database/prisma/ops.json linguist-generated
packages/database/prisma/migration.json linguist-generated
migrations/snapshots/**/contract.json linguist-generated
migrations/snapshots/**/contract.d.ts linguist-generated
